{% include "header.html" %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Lernrock</h1>
        <p>Mit Lernrock kannst du deinen Lernstoff & Lernsession erfassen. Die App wird dir anhand eines Rankings Vorschläge
            für deine Lernsession generieren und dir aufschlussreiche Analysen zu deinem Können über den Prüfungsstoff ausgeben!</p>
    </div>
</div>

<div class="card text-center">
    <div class="card-body">
    <h5 class="card-title">1. Lernstoff erfassen</h5>
    <p class="card-text">In der Rubrik "Lernstoff erfassen" kannst du deine aktuellen Fächer und die dazugehörigen Themen
    erfassen. </p>
    <a href="{{ url_for('lernstoff_erfassen') }}" class="btn btn-primary">Lernstoff erfassen</a>
</div>
</div>

<div class="card text-center">
    <div class="card-body">
    <h5 class="card-title">2. Ranking</h5>
    <p class="card-text">In der Rubrik "Ranking" kannst du deinen eingetragenen Lernstoff anhand des Beherrschungsgrades gerankt ansehen. </p>
    <a href="{{ url_for('ranking') }}" class="btn btn-primary">Ranking ansehen</a>
</div>
</div>


<div class="card text-center">
    <div class="card-body">
    <h5 class="card-title">3. Lernsession erfassen</h5>
    <p class="card-text">In der Rubrik "Lernsession erfassen" kannst du deine erledigten Lernsession dokumentieren</p>
    <a href="{{ url_for('lernsession_erfassen') }}" class="btn btn-primary">Lernsession erfassen</a>
</div>
</div>


<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">4. Übersicht</h5>
    <p class="card-text">Auf der Übersicht findest du die offenen Vorschläge für deine Lernsessions, welche du noch abarbeiten musst.
                    Ausserdem befindet sich auf der Seite eine Analyse zu deinen erledigten Lernsessions.</p>
    <a href="{{ url_for('berechnungen') }}" class="btn btn-primary">Übersicht erfassen</a>
  </div>
</div>
{% include "footer.html" %}