{% include "navigation.html" %}
<div class="jumbotron">
    <div class="container">
       <h1> Fächer erfassen</h1>
       <p>Erfasse dein Studium und akutell abzuschliessende Fächer:</p>
            <form>
                <div class="form-group">
                  <label for="study">Was studierst du?</label><br>
                  <input type="text" name="study_1" class="form-control" id="study" placeholder="Bitte eingeben" required>
                </div><br>
                <div class="form-group">
                    <label for="semester">In welchem Semester befindest du dich?</label> <br>
                    <select name="semester" class="form-control" id="semester" >
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                    </select>
                  </div><br>
                  <div class="form-group">
                  <div class="form-group">
                    <label for="subjects">Welche Fächer besuchst du momentan?</label><br>
                    <input type="text" name="subject_1" class="form-control" id="subjects" placeholder="Bitte eingeben" required><br><br>
                    <input type="text" name="subject_2" class="form-control" id="subjects" placeholder="Bitte eingeben" required><br><br>
                    <input type="text" name="subject_3" class="form-control" id="subjects" placeholder="Bitte eingeben" required><br><br>
                    <input type="text" name="subject_4" class="form-control" id="subjects" placeholder="Bitte eingeben" required><br><br>
                    <input type="text" name="subject_5" class="form-control" id="subjects" placeholder="Bitte eingeben" required><br><br>
                  </div><br>
              <button type="submit" class="btn btn-primary">Senden</button>
            </form>
    </div>
</div>
{% include "footer.html" %}