{% include "header.html" %}

<div class="jumbotron">
    <div class="container">
       <h1> Übersicht </h1>
        <table class="table table-striped m-4">
            <thead class="thead-dark">
            <h4>Analyse absolvierte Lernsessions</h4>
            <h6>Diese Themen beherrschst du am Besten:</h6>

                    <th style="width: 10%" scope="col">Thema</th>

            </thead>
        <tbody>
                {% for listen_element in best_list %}
                    <tr>
                        <td>{{listen_element["Thema"]}}</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>

        <table class="table table-striped m-4">
            <thead class="thead-dark">
            <h6>Diese Themen solltest du dir nochmals anschauen:</h6>

            <th style="width: 10%" scope="col">Thema</th>
            </thead>
        <tbody>
                {% for listen_element in worst_list %}
                    <tr>
                        <td>{{listen_element["Thema"]}}</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>
        <h6>So viel Zeit hast du pro Fach investiert:</h6>
        <table class="table table-striped m-4">
            <thead class="thead-dark">
            <th style="width: 10%" scope="col">Fach</th>
            <th style="width: 10%" scope="col">Lernzeit</th>
            </thead>
        <tbody>
                {% for listen_element in zeit_list %}
                    <tr>
                        <td>{{listen_element["Fach"]}}</td>
                        <td>{{listen_element["Lernzeit"]}}</td>
                    </tr>
                {% endfor %}

        </tbody>
        </table>
        <h3>Analyse Lernstoffe:</h3>
<!--- ab hier kommt plotly--->

    </div>

</div>
{% include "footer.html" %}