{% include "header.html" %}

<div class="jumbotron">
    <div class="container">
       <h1> Übersicht </h1>
        <table class="table table-striped m-4">
            <thead class="thead-dark">
            <h4>Analyse absolvierte Lernsessions:</h4>
            <th style="width: 10%" scope="col">Diese Themen beherrschst du am besten:</th>
            </thead>
        <tbody>
                {% for listen_element in best_list %}
                    <tr>
                        <td>{{listen_element["Thema"]}}</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>

                <table class="table table-striped m-4">
            <thead class="thead-dark">
            <th style="width: 10%" scope="col">Diese Themen musst du dir nochmals anschauen:</th>
            </thead>
        <tbody>
                {% for listen_element in worst_list %}
                    <tr>
                        <td>{{listen_element["Thema"]}}</td>
                    </tr>
                {% endfor %}
        </tbody>
        </table>
        <h5>Wie viel Zeit wurde für ein Fach investiert (Fach anhand von Minuten aufsummieren)</h5>
        {{ viz_div|safe }}



        <h3>Analyse Lernstoffe:</h3>
        <h5>Themen nach Beherrschungsgrad</h5>


    </div>

</div>
{% include "footer.html" %}